# Files for running the Unity environment, which can be downloaded from Udacity
Banana_Windows_x86_64.zip
Banana_Windows_x86_64

# Files produced by running Jupyter Notebook code
.ipynb_checkpoints
unity-environment.log
__pycache__
